/*
 * Copyright (c) 2023 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

&mt {
    tapping-term-ms = <300>;
    require-prior-idle-ms = <100>;
};

&mmv {
    acceleration-exponent = <2>;
    delay-ms = <0>;
};

/ {
    chosen {
        // 34 keys.

        zmk,matrix-transform = &dual_1u_transform;

        // 33 keys. Center two thumb keys replaced by a single 2u key. Remember to adjust your
        // keymap accordingly!
        // zmk,matrix-transform = &single_2u_transform;
    };
};

/ {
    macros {
        bt_0: bt_0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 0 &to 0>;
            label = "BT_0";
        };

        bt_1: bt_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 1 &to 0>;
            label = "BT_1";
        };

        bt_2: bt_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 2 &to 0>;
            label = "BT_2";
        };

        bt_3: bt_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 3 &to 0>;
            label = "BT_3";
        };

        bt_4: bt_4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 4 &to 0>;
            label = "BT_4";
        };

        copy_mac: copy_mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk LEFT_COMMAND &kp C>;
            label = "COPY_MAC";
        };

        paste_mac: paste_mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk LEFT_COMMAND &kp V>;
            label = "PASTE_MAC";
        };

        cut_mac: cut_mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk LEFT_COMMAND &kp X>;
            label = "CUT_MAC";
        };

        mc_tmx_scrl: mc_tmx_scrl {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk LC(S) &kp LEFT_BRACKET>;
            label = "MC_TMX_SCRL";
        };
    };

    behaviors {
        skq: skq {
            compatible = "zmk,behavior-sticky-key";
            label = "SKQ";
            bindings = <&kp>;
            #binding-cells = <1>;
            release-after-ms = <1000>;
            quick-release;
        };

        ht_copy_mac: ht_copy_mac {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_COPY_MAC";
            bindings = <&copy_mac>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            require-prior-idle-ms = <500>;
            flavor = "tap-preferred";
        };

        ht_cut_mac: ht_cut_mac {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_CUT_MAC";
            bindings = <&cut_mac>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            require-prior-idle-ms = <500>;
            flavor = "tap-preferred";
        };

        ht_paste_mac: ht_paste_mac {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_PASTE_MAC";
            bindings = <&paste_mac>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            require-prior-idle-ms = <500>;
            flavor = "tap-preferred";
        };

        hold_tap_layer: hold_tap_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP_LAYER";
            bindings = <&kp>, <&tog>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "hold-preferred";
        };

        ht_tmx_scrl: ht_tmx_scrl {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_TMX_SCRL";
            bindings = <&mc_tmx_scrl>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            require-prior-idle-ms = <200>;
            flavor = "tap-preferred";
        };
    };

    combos {
        compatible = "zmk,combos";

        Shift {
            bindings = <&skq LEFT_SHIFT>;
            key-positions = <13 12>;
        };

        Ctrl {
            bindings = <&skq LCTRL>;
            key-positions = <12 11>;
        };

        Alt {
            bindings = <&skq LEFT_ALT>;
            key-positions = <11 10>;
        };

        Mod {
            bindings = <&skq LEFT_GUI>;
            key-positions = <23 22>;
        };

        r_Shift {
            bindings = <&skq RIGHT_SHIFT>;
            key-positions = <18 19>;
        };

        r_Ctrl {
            bindings = <&skq RCTRL>;
            key-positions = <18 17>;
        };

        r_Alt {
            bindings = <&skq RALT>;
            key-positions = <17 16>;
        };

        r_Mod {
            bindings = <&skq RIGHT_GUI>;
            key-positions = <26 27>;
        };

        toggle_qwerty {
            bindings = <&to 1>;
            key-positions = <33 30>;
        };

        toggle_colemakdh {
            bindings = <&to 0>;
            key-positions = <33 30>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        colemak {
            display-name = "Colemak";
            bindings = <
&kp Q             &ht_copy_mac 0 W  &kp F                   &ht_paste_mac 0 P        &kp B              &kp J            &kp L             &kp U              &kp Y       &kp SEMI
&mt LC(A) A       &mt LC(S) R       &mt LEFT_PARENTHESIS S  &mt RIGHT_PARENTHESIS T  &mt SLASH G        &mt COLON M      &mt LEFT_BRACE N  &mt RIGHT_BRACE E  &mt PLUS I  &mt LC(O) O
&ht_tmx_scrl 0 Z  &ht_cut_mac 0 X   &mt LEFT_BRACKET C      &mt RIGHT_BRACKET D      &mt BACKSLASH V    &mt SEMICOLON K  &kp H             &kp COMMA          &kp EQUAL   &kp SLASH
                                                            &mo 4                    &kp SPACE          &kp RET          &mo 5
            >;
        };

        lower {
            display-name = "Lower";
            bindings = <
&kp EXCL  &kp AT     &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR  &kp RPAR
&trans    &kp TILDE  &kp DQT   &kp PIPE  &trans       &trans     &kp UNDER  &kp PLUS   &kp LBRC  &kp RBRC
&trans    &trans     &trans    &trans    &trans       &trans     &trans     &trans     &trans    &trans
                               &trans    &trans       &mo 4      &trans
            >;
        };

        upper {
            display-name = "Upper";
            bindings = <
&kp N1  &kp N2     &kp N3   &kp N4    &kp N5    &kp N6  &kp N7     &kp N8     &kp N9    &kp N0
&trans  &kp GRAVE  &kp SQT  &kp BSLH  &trans    &trans  &kp MINUS  &kp EQUAL  &kp LBKT  &kp RBKT
&trans  &trans     &trans   &trans    &trans    &trans  &trans     &trans     &trans    &trans
                            &trans    &mo 4     &trans  &trans
            >;
        };

        function {
            display-name = "Function";
            bindings = <
&kp TAB  &trans        &kp C_VOL_UP  &trans        &trans       &trans  &trans    &trans    &trans  &kp ENTER
&kp ESC  &kp C_BRI_DN  &kp C_VOL_DN  &kp C_BRI_UP  &trans       &trans  &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT
&trans   &trans        &trans        &trans        &trans       &trans  &trans    &trans    &trans  &trans
                                     &trans        &kp C_PWR    &trans  &trans
            >;
        };

        meta {
            display-name = "Meta";
            bindings = <
&rgb_ug RGB_HUI  &rgb_ug RGB_SAI  &rgb_ug RGB_BRI  &rgb_ug RGB_SPI  &rgb_ug RGB_EFF    &none         &none         &none         &none         &none
&rgb_ug RGB_HUD  &rgb_ug RGB_SAD  &rgb_ug RGB_BRD  &rgb_ug RGB_SPD  &rgb_ug RGB_EFR    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&none            &none            &rgb_ug RGB_TOG  &none            &none              &none         &none         &bt BT_CLR    &none         &none
                                                   &none            &trans             &trans        &none
            >;
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                        &trans  &trans    &trans  &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                        &trans  &trans    &trans  &trans
            >;
        };

        layer_7 {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                        &trans  &trans    &trans  &trans
            >;
        };
    };
};
